spring:
  application:
      name: tlias-web-management

  datasource:
    url: jdbc:mysql://localhost:3306/tlias
    driverClassName: com.mysql.cj.jdbc.Driver
    username: root
    password: root

mybatis:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    map-underscore-to-camel-case: true