spring:
  application:
      name: tlias-web-management

  datasource:
    url: jdbc:mysql://localhost:3306/tlias
    driverClassName: com.mysql.cj.jdbc.Driver
    username: root
    password: root

mybatis:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    map-underscore-to-camel-case: true

logging:
  level:
    org.springframework.jdbc.support.JdbcTransactionManager: debug

# 阿里云 OSS 配置
aliyun:
  oss:
    endpoint: https://oss-cn-beijing.aliyuncs.com
    bucketName: ai-tlias-web
    region: cn-beijing